#card {
    width: 22.5rem;
    height: 11rem;

    display: flex;

    border-radius: 0.5rem;
    border: 1px solid var(--color-text-muted);
    background: var(--color-bg-card);
    color: var(--color-white);
    padding: 1rem 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    .content {
        & .card-icon > * {
            width: 3rem;
            height: 3rem;
        }

        & span {
            font-family: Montserrat;
            font-size: 0.875rem;
            font-weight: 500;
            margin-top: 0.5rem;
        }

        & .card-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            margin-top: 2.25rem;

            font-family: Montserrat;
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--color-text-muted);

            transition: all 0.3s ease-in-out;

            & .plus-icon {
                width: 0.625rem;
                height: 0.625rem;
                stroke-width: 2px;
            }
        }

        & .card-button:hover {
            background-color: var(--color-text-muted);
            color: var(--color-white);
            scale: 1.05;
        }
    }

    .card-total {
        font-family: Montserrat;
        font-size: 1.875rem;
    }
}

#card:hover {
    scale: 1.05;
    transform: translateY(-0.5rem);
}
