#games {
    display: flex;
    height: 100vh;
    width: 100%;

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

#games-page {
    background-color: var(--color-bg-app);
    flex: 1;
    padding-inline: 3rem;

    .newgame-button {
        width: 7.375rem;
        height: 1.875rem;
        margin-left: 1.5rem;

        color: var(--color-white);
        background-color: var(--color-primary);
        border-radius: 0.25rem;
        font-weight: 500;
        font-size: 0.75rem;
    }

    .filters {
        color: var(--color-white);
        font-size: 0.9375rem;
        font-weight: 700;
        margin-left: 1.5rem;

        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;

        input {
            width: 13.25rem;
            height: 2.3125rem;

            border-radius: 0.5rem;
            border: 1px solid var(--color-border-light);
            background: var(--color-white);

            color: var(--color-black);
            font-size: 0.875rem;
            padding-left: 1rem;
            outline: none;
        }

        input::placeholder {
            color: var(--color-text-placeholder);
        }

        select {
            width: 13.25rem;
            height: 2.3125rem;

            border-radius: 0.5rem;
            border: 1px solid var(--color-border-light);
            background: var(--color-white);

            color: var(--color-black);
            font-size: 0.875rem;
            padding-left: 1rem;
            outline: none;
        }

        select:has(option:checked[value='']) {
            color: var(--color-text-placeholder);
        }

        .filter-buttons {
            display: flex;
            gap: 0.75rem;
            margin-left: auto;
            margin-right: 3rem;

            .clear-button {
                width: 4.75rem;
                height: 1.875rem;

                border-radius: 0.25rem;
                background-color: var(--color-gray-300);

                color: var(--color-white);
                font-size: 0.75rem;
                font-weight: 500;
            }

            .search-button {
                display: flex;
                gap: 0.5rem;
                justify-content: center;
                align-items: center;

                width: 5.625rem;
                height: 1.875rem;

                border-radius: 0.25rem;
                background-color: var(--color-primary);

                color: var(--color-white);
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
    }
}