# --- Database ---
DATABASE_URL="file:./dev.db"
PORT=3001

# --- Application ---

# Dashboard from Clerk: Desafio02.
CLERK_SECRET_KEY="coloque_a_chave_secreta_do_clerk_aqui"

# Auth Token
JWT_SECRET="coloque_seu_segredo_jwt_forte_e_aleatorio_aqui"

JWT_EXPIRES_IN="3600"