.remove-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.remove-box {
    width: 750px;
    height: 516px;
    margin: 0;
    display: flex;
    position: relative;
    background: var(--color-white);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove-close {
    width: 13px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    color: var(--color-black);
    background: var(--color-white);
}

.remove-icon {
    width: 176px;
    height: 176px;
    background-image: url('./assets/warning.svg');
    background-size: cover;
    margin-bottom: 50px;
}

.remove-container .remove-text {
    background: var(--color-white);
    margin-bottom: 20px;
}

.remove-container .remove-text h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--color-black);
    line-height: 100%;
    background: var(--color-white);
}

.remove-container .remove-text p {
    width: 450px;
    height: auto;
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
    color: var(--color-black);
    font-weight: 400;
    background: var(--color-white);
}

.remove-container .remove-buttons {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.remove-button_no,
.remove-button_yes {
    width: 130px;
    height: 33px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

.remove-button_no {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.remove-button_yes {
    background-color: var(--color-danger);
    color: var(--color-white);
    border: none;
}
